  
body {
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

button {
    padding: 5px;
}
.cambiar-fondo {
    background-color:  darkgreen;
    font-size: 32px;    
}
.agregar-padding {   
    color: white;
}
input{
    background-color: teal;
}
.nombre{
    background-color: tomato;

}