@media (min-width: 576px) {
    .w-sm-50 {
        width: 50% !important;
    }
}

.btn{
    border-radius: 15px;
    color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}
.btn:hover{
    background-color: rgb(236, 229, 227);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border-style: 4px; 
    border-color: rgb(3, 3, 3);
}
.brr{
    background-color: rgb(226, 59, 13);
}

.conteiner{
    margin-top: 15px ;
    background-color: rgb(223, 217, 217);
    
}




